body { margin:0; padding:0;}
#main { width: auto; height: 100%; background-image: url(button/background.png); background-size: 100% 100%; }
.left, .mid, .right {float: left; height: 100%; }


.left { width: 28%; padding-left:2%;}
.text, .hr { text-align: center; }
.text {   color:white;}
.text img{ width:auto; height:100%;}
.hr { margin-top: 80%; color:white;}

.mid { width: 41%; }
.rhythm, .circle { width: auto; height:70%; margin-left: 4%; }
.rhythm { margin-top: 22%; z-index: 1;  margin-left:-28% ;}
.circle { margin-top: -86.5%; z-index: 2; }

.right { width: 29%; }
.right button { float: left; border: none; background: transparent; }
.measure img {margin-top: 5%; width: auto;  height:15%; }
.share img, .record img { width: auto;  height:18%; }
.measure { margin-left: 2%; margin-top: 15%; }
.share, .record { background: red;margin-top: 70%; margin-left: 2%; }


<!--
border? font? .record_top
-->